@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-family: var(--font-exo2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.00000 0.00000 0);
  --foreground: oklch(0.14100 0.00500 285.82300);
  --card: oklch(1.00000 0.00000 0);
  --card-foreground: oklch(0.14100 0.00500 285.82300);
  --popover: oklch(1.00000 0.00000 0);
  --popover-foreground: oklch(0.14100 0.00500 285.82300);
  --primary: #06b6d4; /* eipsinsight primary cyan */
  --primary-foreground: #ffffff;
  --secondary: #0ea5a4;
  --secondary-foreground: #ffffff;
  --accent: #06b6d4;
  --accent-foreground: #ffffff;
  --destructive: oklch(0.63683 0.20776 25.32589);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.96955 0.00000 0);
  --muted-foreground: oklch(0.14100 0.00500 285.82300);
  --border: oklch(0.92676 0.00791 158.60751);
  --input: oklch(0.92676 0.00791 158.60751);
  --ring: oklch(0.62733 0.17004 149.20045);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.14668 0.00412 49.31415);
  --foreground: oklch(0.98500 0.00000 0.00000);
  --card: oklch(0.21612 0.00612 56.04353);
  --card-foreground: oklch(0.98500 0.00000 0.00000);
  --popover: oklch(0.20914 0.01024 157.68423);
  --popover-foreground: oklch(0.98500 0.00000 0.00000);
  --primary: oklch(0.72293 0.19206 149.58266);
  --primary-foreground: oklch(0.14100 0.00500 285.82300);
  --secondary: oklch(0.27412 0.00548 286.03291);
  --secondary-foreground: oklch(0.98500 0.00000 0.00000);
  --accent: oklch(0.26850 0.00629 34.29756);
  --accent-foreground: oklch(0.98500 0.00000 0.00000);
  --destructive: oklch(0.63683 0.20776 25.32589);
  --destructive-foreground: oklch(0.98500 0.00000 0.00000);
  --muted: oklch(0.26905 0.01292 48.21802);
  --muted-foreground: oklch(0.98500 0.00000 0.00000);
  --border: oklch(0.28692 0.01662 157.46825);
  --input: oklch(0.28692 0.01662 157.46825);
  --ring: oklch(0.72293 0.19206 149.58266);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
